user_uuid = "dacbd37c-4b14-45b0-b5f0-13f0eacd8c16"
bucket_name="56q40qa2vq8847w5"
index_html_filepath = "/workspace/terraform-beginner-bootcamp-2023/public/index.html"
error_html_filepath = "/workspace/terraform-beginner-bootcamp-2023/public/error.html"
assets_path = "/workspace/terraform-beginner-bootcamp-2023/public/assets"
content_version=1